<main class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Chỉnh sửa thông tin:</h2>
      <form action="" metdod="post" [formGroup]="profileForm" (submit)="updateProfile()" >
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div>
              <b>Thông tin cá nhân:</b>
              <div class="row">
                <div class="col" >
                  <div class="form-group">
                    <label for="hoten">Họ Tên</label>
                    <input type="text" class="form-control" formControlName="fullName" name="fullName" id="fullName"
                      aria-describedby="fullNameid" placeholder="Họ và tên" />
                    <small id="hotenid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="sdt">Số điện thoại </label>
                    <input type="text" formControlName="phoneNumber" class="form-control" name="phoneNumber"
                      id="phoneNumber" aria-describedby="phoneNumber" placeholder="+84" />
                    <small id="sdtid" class="form-text text-muted"></small>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="birthday">Ngày sinh</label>
                    <input type="date" class="form-control" formControlName="birthDay" name="birthDay" id="birthDay"
                      placeholder="" />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" formControlName="email"
                      aria-describedby="emailHid" placeholder="" />
                    <small id="emailHid" class="form-text text-muted"></small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="hometown">Quê Quán</label>
                    <input formControlName="homeTown" type="homeTown" class="form-control" name="homeTown" id="homeTown"
                      placeholder="" />
                  </div>
                  <div class="form-group">
                    <label for="gender">Giới Tính</label>
                    <input type="gender" class="form-control" name="gender" id="gender" formControlName="gender"
                      aria-describedby="gender" placeholder="" />
                    <small id="gender" class="form-text text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <b>Thông tin kinh nghiệm:</b>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="skill">Kĩ Năng</label>
                    <input type="text" class="form-control" name="skill" formControlName="skill" id="skill"
                      aria-describedby="skill" placeholder="" />
                    <small id="skill" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="experience">Số năm kinh nghiệm</label>
                    <input type="text" class="form-control" name="numberYearsExperience" id="numberYearsExperience"
                      formControlName="numberYearsExperience" aria-describedby="experience" placeholder="" />
                    <small id="experience" class="form-text text-muted"></small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="Education">Trình độ học vấn</label>
                    <input type="Education" class="form-control" formControlName="academicName" name="academicName"
                      id="academicName" placeholder="" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <b>Thông tin mong muốn:</b>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="desiredSalary">Mức Lương</label>
                    <input type="text" formControlName="desiredSalary" class="form-control" name="desiredSalary"
                      id="desiredSalary" aria-describedby="desiredSalary" placeholder="" />
                    <small id="DesiredSalary" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="desiredWorkingAddress">Địa chỉ </label>
                    <input type="text" formControlName="desiredWorkingAddress" class="form-control"
                      name="desiredWorkingAddress" id="desiredWorkingAddress" aria-describedby="desiredWorkingAddress"
                      placeholder="" />
                    <small id="desiredAddress" class="form-text text-muted"></small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="desiredworkname">Làm việc</label>
                    <input type="desiredworkname" formControlName="desiredworkname" class="form-control"
                      name="desiredworkname" id="desiredworkname" placeholder="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="item mb--25">
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary"  >
                  Chỉnh sửa
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
