<section id="intro">
    <div class="carousel-item active">
        <div class="carousel-background"><img src="assets/imags/slider/slider1.jpg" alt=""></div>
        <div class="carousel-container">
            <div class="carousel-content">
                <h2 class="font-color-white">Job Result</h2>
                <!-- <p class="font-color-white width-100"><a href="index.html" class="font-color-white">Home /</a><a href="Job_Category-2.html" class="font-color-white"> Job </a>/ Details
    </p> -->
            </div>
        </div>
    </div>
</section>



<section id="job-Details">
    <div class="container background-color-full-white job-Details">
        <div class="Exclusive-Product">
            <h1>Chi Tiết Tin Tuyển Dụng </h1>
            <a routerLink="../../popup" href="#" class="Apply-Now">Apply Now</a>
            <!-- <h6 class="font-color-orange">Airbnx Expross Soft</h6>
    <a href="#">View more similar jobs</a> -->
            <i class="material-icons">place</i>
            <span class="text">{{dataSource.addressWork}}</span>
            <h4>Mô tả: </h4>
            <ul>
                <li class="list-style">Mức lương: {{dataSource.minSalary}} - {{dataSource.maxSalary}}</li>
                <li class="list-style">
                    Hình thức làm việc: {{dataSource.methodWorkId}} </li>
                <li class="list-style">
                    Số lượng tuyển: {{dataSource.quantityPerson}}</li>
                <li class="list-style">
                    Cấp bậc: {{dataSource.levelRankId}} </li>
                <li class="list-style">
                    Kinh nghiệm: {{dataSource.numberExperience}} </li>
            </ul>
        </div>
        <img src="assets/imags/job-detail.jpg" alt="" class="job-detail-img">
        <div class="Job-Description">
            <h4>Mô tả công việc: </h4>
            <ul>
                <li class="list-style">{{dataSource.description}}</li>

            </ul>
            <div class="vertical-space-20"></div>
            <h4>Quyền lợi: </h4>
            <p class="margin-bottom">Suspendisse augue pulvinar placerat himenaeos odio nec turpis augue sem maecenas,
                faucibus erat lacinia consectetur sapien suscipit vestibulum venenatis himenaeos elit etiam lobortis
                luctus tempor phasellus vitae aliquam aenean tincidunt suscipit rhoncus mauris, lectus duis aenean
                fermentum aptent laoreet habitant suspendisse donec malesuada lectus quisque primis tristique donec
                mattis, per euismod quisque urna proin ornare, convallis litora curae dictumst.</p>
            <ul>
                <li class="list-style">Et vestibulum ullamcorper curae tellus consectetur erat pharetra et cubilia Nibh
                    est auctor lacus nam lacinia aptent</li>
                <li class="list-style">
                    Et vestibulum ullamcorper curae tellus consectetur erat pharetra et cubilia Nibh est auctor lacus
                    nam lacinia aptent</li>
                <li class="list-style">
                    Vitae sociosqu a nisi cubilia vulputate aliquam vulputate imperdiet tempor arcu fames</li>
                <li class="list-style">
                    Odio habitasse senectus morbi dapibus mauris non primis, nisl ante hendrerit consectetur nulla
                    phasellus eleifend, ad at scelerisque vulputate habitant temmollis</li>
            </ul>
        </div>
    </div>
</section>
<section id="comment" class="background-color-full-white-light">
    <div class="container">
        <div class="max-width-80">
            <h4>comment</h4>
            <a href="#" class="Share">Share</a>
            <div class="media border p-3">
                <img src="assets/imags/comment1.png" alt="John Doe" class="mr-3 rounded-circle imagess"
                    style="width:60px;">
                <div class="media-body">
                    <h6>Rehmatun Nisal</h6>
                    <p>Suspendisse augue pulvinar placerat himenaeos odio nec turpis augue sem maecenas, faucibus erat
                        lacinia consectetur sapien suscipit vestibulum venenatis himenaeos.</p>
                </div>
            </div>
            <div class="media border p-3 ">
                <img src="assets/imags/comment2.png" alt="John Doe" class="mr-3 rounded-circle imagess"
                    style="width:60px;">
                <div class="media-body">
                    <h6>Rehmatun Nisal</h6>
                    <p>Suspendisse augue pulvinar placerat himenaeos odio nec turpis augue sem maecenas, faucibus erat
                        lacinia consectetur sapien suscipit vestibulum venenatis himenaeos.</p>
                </div>
            </div>
            <div class="media border p-3 padding-none border-none">
                <img src="assets/imags/comment3.png" alt="John Doe" class="mr-3 rounded-circle imagess"
                    style="width:60px;">
                <div class="media-body">
                    <form>
                        <textarea placeholder="Type commeny" required></textarea>
                        <button class="Post">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="vertical-space-100"></div>
    <div class="row">
        <div class="col-lg-4 col-md-6 vertical-space-2">