<section id="intro">
    <div class="carousel-item active">
        <div class="carousel-background"><img src="assets/imags/slider/slider1.jpg" alt=""></div>
        <div class="carousel-container">
            <div class="carousel-content">
                <h2 class="font-color-white">Find Jobs Now more Easy Way</h2>
                <p class="font-color-white">Lorem ipsum tempus amet conubia adipiscing fermentum viverra gravida, mollis
                    suspendisse pretium dictumst inceptos mattis euismod lorem nulla, magna duis nostra sodales luctus
                    nulla praesent fermentum a elit mollis purus aenean curabitur eleifend </p>
                <a href="#" data-toggle="modal" data-target="#myModal"><i
                        class=" material-icons play">play_arrow</i></a>
            </div>
        </div>
    </div>
</section>

<!-- <div id="search-box" class="margin-none">
    <div class="container search-box">
        <form action="#" id="search-box_search_form_3"
            class="search-box_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
            <div class="d-flex flex-row align-items-center justify-content-start inline-block">
                <span class="large material-icons search">search</span>
                <input class="search-box_search_input" placeholder="Search Keyword" required="required" type="search">
                <select class="dropdown_item_select search-box_search_input">
                    <option>Category</option>
                    <option>Category1</option>
                    <option>Category2</option>
                </select>
                <span class="large material-icons margin-top search">place</span>
                <input class="search-box_search_input " placeholder="Location" required="required" type="search">
            </div>
            <button type="submit" class="search-box_search_button">Search Jobs</button>
        </form>
    </div>
</div> -->

<div>
    <form class="needs-validation" [formGroup]="searchForm" (ngSubmit)="onSearchJobRegister()">
        <div class="form-row">
            <div class="col-md-5 mb-3 marginLeft1">
                <label for="validationTooltip03">User Name</label>
                <input type="text" class="form-control" id="searchName" formControlName="searchName" />
            </div>

            <div class="col-md-5 mb-3">
                <label for="validationTooltip03">Job Position</label>
                <input type="text" class="form-control" id="positionName" formControlName="positionName" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3 marginLeft1">
                <label for="validationTooltip03">APPLICATION TIME FROM</label>
                <input type="date" class="form-control" id="applicationTimeFrom"
                    formControlName="applicationTimeFrom" />
            </div>

            <div class="col-md-3 mb-3 marginLeft3">
                <label for="validationTooltip03">APPLICATION TIME TO</label>
                <input type="date" class="form-control" id="applicationTimeTo" formControlName="applicationTimeTo" />
            </div>
        </div>
        <div class="form-row" >
            <div class="col-md-3 mb-3 marginLeft1">
                <label for="validationTooltip03">SALARY FROM</label>
                <input type="number" class="form-control" id="minSalary"
                    formControlName="minSalary" />
            </div>

            <div class="col-md-3 mb-3 marginLeft3">
                <label for="validationTooltip03">SALARY TO</label>
                <input type="number" class="form-control" id="maxSalary" formControlName="maxSalary" />
            </div>
        </div>
        <button class="btn btn-primary marginLeft2" type="submit" (click)="onSearchJobRegister()">Search</button>
    </form>
</div>
<section id="resent-job-post" class="background-color-white-drak">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <!-- <h4 class="text-left">Filter Jobs Result</h4> -->
        <div class="vertical-space-30"></div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <!-- <div class="Job-Category-box">
                    <p class="title">Job Category</p>
                    <ul>
                        <li class="list-item1 "><a href="#" class="font-color-black">Web Developer (54)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">User Experience Design (21)</a>
                        </li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Digital Marketer (72)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Branding and promotion (54)</a>
                        </li>
                        <li class="list-item1 "><a href="#" class="font-color-black">User Experience Design (21)</a>
                        </li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Digital Marketer (72)</a></li>
                    </ul>
                </div> -->
                <div class="Job-Nature-box">
                    <p class="title">Job Nature</p>
                    <ul>
                        <li class="list-item1 "><a href="#" class="font-color-black">Full Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Part Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Hourly</a></li>
                    </ul>
                </div>
                <div class="Salary-Range-box">
                    <p class="title">Salary Range</p>
                    <p>
                        <input type="text" id="amount1" class="salery-range">
                        <i class="fa fa-minus minus"></i>
                        <input type="text" id="amount2" class="salery-range">
                    </p>
                    <mat-slider aria-label="unit(s)"></mat-slider>
                    <mat-slider thumbLabel tickInterval="1"></mat-slider>


                    <p class="small-title">Experience Level</p>
                    <form action="#" class="search-box_search_form">
                        <select class="dropdown_item_select search-box_search_input">
                            <option>Fresher</option>
                            <option>Intern</option>
                            <option>Junior</option>
                            <option>Senior</option>
                            <option>Leade</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div *ngFor="let item of jobs">
                    <div class="detail width-100 ">
                        <div class="media display-inline text-align-center">
                            <img src="assets/imags/job-post-icone-1.png" alt="John Doe" class="mr-3 ">
                            <div class="media-body text-left  text-align-center">
                                <h6><a href="#" class="font-color-black">{{item.jobName}}</a>
                                </h6>
                                <i class="large material-icons">account_balance</i>
                                <span class="text">{{item.addressWork}}</span>
                                <br />
                                <i class="large material-icons">place</i>
                                <span class="text font-size">11907 Doyle Cape Cydneyview</span>
                                <div class="float-right margin-top text-align-center">
                                    <a [routerLink]="['../detail-job/'+item.id]" class="part-full-time">Xem Chi Tiết</a>
                                    <p class="date-time">{{item.createDate | date:'mediumDate'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-space-20"></div>
                    <div class="vertical-space-25"></div>

                </div>
                <!-- <div class="job-list width-100">
                    <ul class="pagination justify-content-end margin-auto">
                        <li class="page-item"><a class="page-link pdding-none" href="javascript:void(0);"><i
                                    class=" material-icons keyboard_arrow_left_right">keyboard_arrow_left</i></a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                        <li class="page-item">
                            <a class="page-link pdding-none" href="javascript:void(0);"> <i
                                    class=" material-icons keyboard_arrow_left_right">keyboard_arrow_right</i></a>
                        </li>
                    </ul>
                </div> -->

                <div class="paging">
                    <span>
                        <pagination [boundaryLinks]="true" [totalItems]="totalRecord" [(ngModel)]="pageN"
                            [itemsPerPage]="pageS" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                            lastText="&raquo;" (pageChanged)="pageChanged($event)" (click)="setPage(pageN)">
                        </pagination>
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="vertical-space-60"></div>
</section>