<div class="h--30 w-100 mb--25 position-relative">
  <img
    class="img-cover"
    src="https://img.freepik.com/free-photo/3d-rendering-perspective-cement-concrete-backdrop-plaster-stucco-texture-surface_163855-5.jpg?size=626&ext=jpg"
    alt=""
  />
  <div *ngFor="let item of company" class="w--36 h--36 image-wrapper">
    <img
      src="{{ item.avatar ? item.avatar : noAvatar }}"
      alt="image"
      class="img-cover rounded-circle"
    />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">Name</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.name"
          />
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">Email</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.email"
          />
        </div>
      </div>
    </div>

    <!-- HotLine -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">HotLine</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.hotLine"
          />
        </div>
      </div>
    </div>

    <!-- dateIncorporation -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">dateIncorporation</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.dateIncorporation"
          />
        </div>
      </div>
    </div>

    <!-- taxCode -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">taxCode</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.taxCode"
          />
        </div>
      </div>
    </div>

    <!--taxDate -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">taxDate</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.taxDate"
          />
        </div>
      </div>
    </div>

    <!-- taxPlace -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">taxPlace</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.taxPlace"
          />
        </div>
      </div>
    </div>

    <!-- headOffice -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">headOffice</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.headOffice"
          />
        </div>
      </div>
    </div>

    <!-- numberStaff -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">numberStaff</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.numberStaff"
          />
        </div>
      </div>
    </div>

    <!-- linkWeb -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">linkWeb</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.linkWeb"
          />
        </div>
      </div>
    </div>

    <!-- description -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">description</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.description"
          />
        </div>
      </div>
    </div>

    <!-- backdropImg -->
    <div class="col-12 col-xl-6 mb-3">
      <div class="item d-flex align-items-center mb-3">
        <label class="w--40 pr-3 mb-0">backdropImg</label>
        <div *ngFor="let item of company" class="flex-1">
          <input
            disabled
            class="minh--9 form-control bg-white cursor-default text-dark"
            type="text"
            [(ngModel)]="item.backdropImg"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="item mb--25">
      <div class="d-flex justify-content-end">
        <button (click)="openModalEdit()" class="btn btn-primary">
          Chỉnh sửa
        </button>
      </div>
    </div>
  </div>
</div>
