<div class="main-page">
  <!-- Header -->
  <header class="h--15 bg-light">
    <nav class="nav flex-center h-100">
      <div id="menu">
        <ul class="flex-center list-unstyled mb-0">
          <li *ngFor="let menu of menus" class="flex-center cursor-pointer p-2">
            <p class="mb-0">{{ menu.name }}</p>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Main -->
  <main class="flex-1 d-flex main-contentt">
    <!-- SideBar -->
    <div
      [ngClass]="showSidebar ? 'w--60' : 'w--12'"
      class="w-60 flex-fixed bg-dark-shade slide-in-sidebar"
    >
      <ul class="list-unstyled mb-0 fs-14 cursor-pointer">
        <li
          *ngFor="let menu of menus"
          class="
            d-flex
            align-items-center
            p-3
            text-white
            cursor-pointer
            sidebar-item
            overflow-hidden
            text-nowrap
          "
          [ngClass]="router.url === menu.path ? 'sidebar-active' : ''"
          (click)="gotoPage(menu)"
        >
          <i [ngClass]="menu.icon" class="text-white fwb mr-4"></i>
          <span class="word-break text-dark"> {{ menu.name }} </span>
        </li>
        <li
          class="
            d-flex
            align-items-center
            p-3
            text-white
            cursor-pointer
            sidebar-item
            overflow-hidden
            text-nowrap
          "
          (click)="toggleSidebar()"
        >
          <i class="nc-icon nc-chart-pie-35 text-white fwb mr-4"></i>
          <span class="word-break text-dark"> Close </span>
        </li>
      </ul>
    </div>

    <!-- Content -->
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- Footer -->
<footer class="footer fixed-bottom bg-light p-5">footer</footer>
