/* body {
  font-family: sans-serif;
  font-size: 15px;
 }
 #menu ul {
  background: #8AD385;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
 }
 #menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
 }
 #menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
 }
 #menu li:hover {
  background:lightcoral;
  border-color:maroon
 } */

