<div class="container">
  <form [formGroup]="formUpdate">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="name">Tên công ty</label>
        <input
          type="name"
          formControlName="name"
          class="form-control"
          id="inputEmail5"
          placeholder=""
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="hotLine">Số điện thoại</label>
        <input
          type="text"
          class="form-control"
          formControlName="hotLine"
          id="hotLine"
          placeholder="+84"
        />
        <div *ngIf="hotLine.invalid && (hotLine.dirty || hotLine.touched)" class="alert alert-danger">
          <div *ngIf="hotLine.errors?.['required']">
            Sdt không được để trống.
          </div>
          <div *ngIf="hotLine.errors?.['minlength']">
            Sđt phải 10 số.
          </div>
          <div *ngIf="hotLine.errors?.['maxlength']">
            Sđt phải 10 số.
          </div>
          <div *ngIf="hotLine.errors?.['pattern']">
             Sđt phải là số.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors?.['required']">
           Không được để trống
          </div>
          <div *ngIf="email.errors?.['email']">
            Chưa đúng định dạng
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="dateIncorporation">Ngày thành lập</label>
        <input
          type="date"
          class="form-control"
          id="dateIncorporation"
          formControlName="dateIncorporation"
          placeholder=""
        />
        <div *ngIf="dateIncorporation.invalid && (dateIncorporation.dirty || dateIncorporation.touched)" class="alert alert-danger">
          <div *ngIf="dateIncorporation.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="taxCode">Mã số thuế</label>
        <input
          type="taxCode"
          formControlName="taxCode"
          class="form-control"
          id="taxCode"
          placeholder=""
        />
        <div *ngIf="taxCode.invalid && (taxCode.dirty || taxCode.touched)" class="alert alert-danger">
          <div *ngIf="taxCode.errors?.['required']">
            Sdt không được để trống.
          </div>
          <div *ngIf="taxCode.errors?.['pattern']">
             Sđt phải là số.
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="taxDate">Ngày cấp mã số thuế</label>
        <input
          type="date"
          formControlName="taxDate"
          class="form-control"
          id="taxDate"
          placeholder=""
        />
        <div *ngIf="taxDate.invalid && (taxDate.dirty || taxDate.touched)" class="alert alert-danger">
          <div *ngIf="taxDate.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="taxPlace">Nơi cấp mã số thuế</label>
        <input
          type="text"
          class="form-control"
          formControlName="taxPlace"
          id="taxPlace"
          placeholder="Hà Nội..."
        />
        <div *ngIf="taxPlace.invalid && (taxPlace.dirty || taxPlace.touched)" class="alert alert-danger">
          <div *ngIf="taxPlace.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="headOffice">Trụ sở chính</label>
        <input
          type="text"
          formControlName="headOffice"
          class="form-control"
          id="headOffice"
          placeholder=""
        />
        <div *ngIf="headOffice.invalid && (headOffice.dirty || headOffice.touched)" class="alert alert-danger">
          <div *ngIf="headOffice.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="numberStaff">Số lượng nhân viên</label>
        <input
          type="text"
          formControlName="numberStaff"
          class="form-control"
          id="numberStaff"
          placeholder=""
        />
        <div *ngIf="numberStaff.invalid && (numberStaff.dirty || numberStaff.touched)" class="alert alert-danger">
          <div *ngIf="numberStaff.errors?.['required']">
            Sdt không được để trống.
          </div>
          <div *ngIf="numberStaff.errors?.['pattern']">
             Sđt phải là số.
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="linkWeb">Trang web</label>
        <input
          type="text"
          class="form-control"
          id="linkWeb"
          formControlName="linkWeb"
          placeholder=""
        />
        <div *ngIf="linkWeb.invalid && (linkWeb.dirty || linkWeb.touched)" class="alert alert-danger">
          <div *ngIf="linkWeb.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="description">Mô tả công ty</label>
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          placeholder=""
        />
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors?.['required']">
           Không được để trống
          </div>
        </div>
      </div>
      <!-- <div class="form-group col-md-5">
        <label for="exampleFormControlFile1">Ảnh đại diện </label>
        <input
          type="file"

          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div> -->
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formUpdate.invalid" (click)="update()">
      Chỉnh sửa
    </button>
  </form>

</div>

