<section id="intro">
  <div class="carousel-item active">
    <div class="carousel-background"><img src="assets/imags/slider/slider1.jpg" alt=""></div>
    <div class="carousel-container">
      <div class="carousel-content">
        <h2 class="font-color-white">JobRegister Detail</h2>
        <p class="font-color-white width-100"><a href="index.html" class="font-color-white">Home /</a><a
            href="../../admin/profile" class="font-color-white"> JobRegister </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="job-Details">
  <div class="container background-color-full-white job-Details">

    <form [formGroup]="editForm" (ngSubmit)="onUpdateJobRegister()">
      <div class="form-row">
        <div style="margin-bottom: 10px;">
          <div *ngIf=" dataSource.jobRegisterStatus.id === 1" style="margin-left: 25px;">
            <button type="button" class="btn btn-info" style="width: 81px;" (click)="onBrowsing()" >Duyệt</button>
            <button type="button" class="btn btn-info" (click)="openPopup1()">Từ chối ứng viên</button>
          <button type="button" class="btn btn-info" style="width: 81px;" (click)="onDowload()">Dowload</button>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Lý do từ chối</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="inputCity" formControlName="reason">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="closePopup1()">
                                Close
                            </button>
                            <button class="btn btn-danger" style="margin-right: 5px;" type="submit"
                                (click)="onRefuse()">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="Job-Description">

        <div class="form-row">
          <div class="form-group col-md-6">
            <h1>Information About Job Position</h1>
              <input type="email" class="form-control" id="jobPosition" value="{{dataSource.jobs.jobPosition}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <h1>Information About Job Status</h1>
            <fieldset disabled>
              <input type="email" class="form-control" id="statusName" formControlName="statusName">
            </fieldset>
          </div>
        </div>
        <h1>Details of the candidate</h1>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
              <input type="text" class="form-control" id="fullName" value="{{dataSource.user.fullName}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{dataSource.user.email}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Skill</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.profiles.skill}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Phone Number</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.user.phoneNumber}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Birthday</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.user.birthDay}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Gender</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.user.gender}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Hometown</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.user.homeTown}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Experience</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.profiles.numberYearsExperience}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Desired Working Address</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.profiles.desiredWorkingAddress}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">StatusName</label>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.jobRegisterStatus.statusName}}" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <h1>Desired Salary</h1>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.profiles.desiredSalary}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <h1>Desired Work</h1>
            <input type="text" class="form-control" id="inputEmail4" value="{{dataSource.profiles.desiredwork.description}}" disabled>
          </div>
        </div>
      </div>
    </form>


  </div>
</section>
