.margin1{
  margin-top: 30%;
  margin-left: 7%;
}

.edit {
  border-radius: 5px;
  width: 100px;
  margin-top: 60px;
  margin-left: 25px;
}


.button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
