<section id="intro">
<div class="carousel-item active">
<div class="carousel-background"><img src="assets/imags/slider/slider1.jpg" alt=""></div>
<div class="carousel-container">
<div class="carousel-content">
<h2 class="font-color-white">JobRegister Detail</h2>
<p class="font-color-white width-100"><a href="index.html" class="font-color-white">Home /</a><a href="../../admin/profile" class="font-color-white"> JobRegister </a>
</p>
</div>
</div>
</div>
</section>


<section id="job-Details">
<div class="container background-color-full-white job-Details">

<img src="imags/job-detail.jpg" alt="" class="job-detail-img">
<div class="Job-Description">
<h3>Information About Job Position</h3>
<ul>
  <li class="list-style">
    
  </li>
</ul>
</div>
</div>
</section>


