<buton type="button" style="text-align: center" class="btn btn-info" style="margin-right: 2px"
  routerLink="/admin/add-Je">
  Thêm
</buton>
<!-- <form [formGroup]="addForm"> -->

  <table id="tb-view" class="table table-bordered table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Tên tài khoản</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Gioi tính</th>
        <th>Ngày sinh</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      **ngIf="employee.active==true"
      <tr *ngFor="let employee of employees">
        <td>{{ employee.fullName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.userName }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.homeTown }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.birthDay }}</td>
        <td>{{ employee.active }}</td>
        <td class="text-nowrap" style="width: 1px">
          <button type="button" class="btn btn-danger" style="margin-right: 2px"
            [routerLink]="['../update-Je/'+ employee.id]">
            >
            Sửa
          </button>
          <button type="button" class="btn btn-success" style="margin-right: 2px" (click)="deleteJE(employee.id)">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>

<!-- </form> -->
<!---->