/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.w--40 {
  width: 160px;
}

.h--40 {
  height: 160px;
}

.w--30 {
  width: 120px;
}

.h--30 {
  height: 120px;
}

.w--36 {
  width: 144px;
}

.h--36 {
  height: 144px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.h-0 {
  height: 0px;
}

.w-0 {
  width: 0px;
}

.cursor-default {
  cursor: default !important;
}

.minh--9 {
  min-height: 36px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb :hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.sc-behav-smooth {
  scroll-behavior: smooth;
}

.mat-dialog-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.h--30 {
  height: 120px;
}
