<header class="header">
  <div class="header_container background-color-orange-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="
              header_content
              d-flex
              flex-row
              align-items-center
              justify-content-start
            ">
            <div class="logo_container">
              <a href="#">
                <img style="width: 150px; height: 80px" src="assets/imags/logo_itsol-300x115.png" class="logo-text"
                  alt="" />
              </a>
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li><a routerLink=""> Home </a></li>
                <li><a routerLink="./list-job"> Job </a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>{{name}}</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['./infomation/11']">Thông tin cá nhân</a>
                    <a class="dropdown-item" routerLink="../authen/register">Đổi mật khẩu</a>
                    <a class="dropdown-item" routerLink="../login">Log out</a>
                  </div>
                </li>
              </ul>
              <div class="Post-Jobs">
                <a routerLink="../login" class=""> LOGIN </a>
              </div>

              <div class="hamburger menu_mm menu-vertical">
                <i class="
                    large
                    material-icons
                    font-color-white
                    menu_mm menu-vertical
                  ">menu</i>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>



    <div class="hamburger menu_mm menu-vertical">
      <i class="large material-icons font-color-white menu_mm menu-vertical">menu</i>
    </div>
  </div>
  <div class="
      menu
      d-flex
      flex-column
      align-items-end
      justify-content-start
      text-right
      menu_mm
      trans_400
    ">
    <div class="menu_close_container">
      <div class="menu_close">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="search">
      <form action="#" class="header_search_form menu_mm">
        <input type="search" class="search_input menu_mm" placeholder="Search" required="required" />
        <button class="
            header_search_button
            d-flex
            flex-column
            align-items-center
            justify-content-center
            menu_mm
          ">
          <i class="fa fa-search menu_mm" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <nav class="menu_nav">
      <ul class="menu_mm">
        <li class="dropdown menu_mm">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="./">Home 1</a></li>
            <li><a routerLink="index2.html">Home 2</a></li>
          </ul>
        </li>
        <li class="dropdown menu_mm">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Job <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="job_category.html">Job List</a></li>
            <li><a routerLink="job_detail.html">Job Detail</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>

<footer id="footer" class="background-color-white">
  <div class="container">
    <div class="vertical-space-100"></div>
    <div class="row">
      <div class="col-lg-4 col-md-6 vertical-space-2">
        <img class="alignnone wp-image-1763" src="https://itsol.vn/wp-content/uploads/2019/11/logo_itsol-300x115.png"
          alt width="175" height="67" />
        <p class="paregraf">
          IT Solution & Resources Company.<br />
          Talents Trusted Partner
        </p>
        <a href="#"> <i class="fa fa-facebook social-icon facebook"></i></a>
        <a href="#"> <i class="fa fa-twitter social-icon twitter"></i></a>
        <a href="#">
          <i class="fa fa-pinterest-p social-icon pinterest-p"></i></a>
        <a href="#"> <i class="fa fa-map-marker social-icon map-marker"></i></a>
      </div>
      <div class="col-lg-2 col-md-6 vertical-space-2">
        <h5>Menu</h5>
        <div class="text">
          <a href="#">About</a>
          <a href="#">Support</a>
          <a href="#">Tems</a>
          <a href="#">Privacy</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 vertical-space-2">
        <h5>Supports</h5>
        <div class="text">
          <a href="#">About</a>
          <a href="#">Support</a>
          <a href="#">Tems</a>
          <a href="#">Privacy</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 vertical-space-2" style="text-decoration: none">
        <h5>Contact us</h5>
        <div class="text">
          <a href="tel:+84.904.29.05.83"><i class="fa fa-phone"></i><span>+84.904.29.05.83</span></a>

          <a href="mailto:cuongdc@itsol.vn"><i class="fa fa-envelope"></i><span>cuongdc@itsol.vn</span></a>

          <a><i class="fa fa-home"></i><span>Head office: 3rd floor, 3A Building, Duy Tan Street, Hanoi,
              Vietnam.</span></a>
        </div>
      </div>
    </div>

    <div class="vertical-space-60"></div>
  </div>
  <div class="container-fluid background-color-orange main-footer">
    <div class="container text-center">
      <div class="vertical-space-30"></div>
      <p><a target="_blank" href="https://itsol.vn/">ITSOL</a></p>
    </div>
  </div>
</footer>
<div class="modal" id="myModal">
  <div class="container">
    <div class="vertical-space-85"></div>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button class="button button-rounded close" data-dismiss="modal">
            &times;
          </button>
          <video class="" controls>
            <source src="video/Pexels_Videos_2706.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
