<section id="addJE">
  <div class="container p-2">
    <div class="row mt-2">
      <div class="col-8 offset-2">
        <hr />
        {{addForm.valid}}
        <form [formGroup]="addForm" (ngSubmit)="saveJE()">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">ADD NEW JOB_EDITOR</h3>
            </div>

            <div class="card-body">
              <div class="form-group col-md-6">
                <label for="name">fullName</label>
                <input type="text" formControlName="fullName" class="form-control" name="name" id="name"
                  aria-describedby="helpid" placeholder="name" />
                <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert alert-danger">

                  <div *ngIf="fullName.errors?.['required']">
                    fullName không được để rỗng
                  </div>
                  <div *ngIf="fullName.errors?.['minlength']">
                    fullName phải ít nhất 8 kí tự
                  </div>
                  <div *ngIf="fullName.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>

              </div>
              <div class="form-group col-md-6">
                <label for="emaild">Email</label>
                <input type="email" formControlName="email" class="form-control" name="name" id="email"
                  aria-describedby="emailHid" placeholder="email">
                <div *ngIf="email.invalid && (email.dirty||email.touched)" class="alert alert-danger">

                  <div *ngIf="email.errors?.['required']">
                    Email không được để rỗng
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    <small id="emailHid" class="form-text text-muted">
                      Email không đúng định dạng
                    </small>
                  </div>
                </div>


              </div>
              <div class="form-group col-md-6">
                <label for="userName">UserName</label>
                <input type="userName" formControlName="userName" class="form-control" name="userName" id="userName"
                  aria-describedby="userNameHid" placeholder="userName" />
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">

                  <div *ngIf="userName.errors?.['required']">
                    userName không được để rỗng
                  </div>
                  <div *ngIf="userName.errors?.['minlength']">
                    userName phải ít nhất 8 kí tự
                  </div>
                  <div *ngIf="userName.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>

              </div>
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" name="password" id="password"
                  aria-describedby="passwordHid" placeholder="Password" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

                  <div *ngIf="password.errors?.['required']">
                    password không được để rỗng
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    password phải ít nhất 8 kí tự
                  </div>
                  <div *ngIf="password.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input type="phone" formControlName="phoneNumber" class="form-control checkmobile" name="phone"
                  id="phone" aria-describedby="phoneHid" placeholder="phone" />
                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                  class="alert alert-danger">
                  <div *ngIf="phoneNumber.errors?.['required']">
                    phoneNumber không được để trống.
                  </div>
                  <div *ngIf="phoneNumber.errors?.['minlength']">
                    phoneNumber phải 10 số.
                  </div>
                  <div *ngIf="phoneNumber.errors?.['maxlength']">
                    phoneNumber phải 10 số.
                  </div>
                  <div *ngIf="phoneNumber.errors?.['pattern']">
                    phoneNumber phải là số.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="homeTown">HomeTown</label>
                <input type="homeTown" formControlName="homeTown" class="form-control" name="homeTown" id="homeTown"
                  aria-describedby="homeTownHid" placeholder="homeTown" />
                <div *ngIf="homeTown.invalid && (homeTown.dirty || homeTown.touched)" class="alert alert-danger">

                  <div *ngIf="homeTown.errors?.['required']">
                    homeTown không được để rỗng
                  </div>
                  <div *ngIf="homeTown.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <input type="gender" formControlName="gender" class="form-control" name="gender" id="gender"
                  aria-describedby="genderHid" placeholder="gender" />
                <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">

                  <div *ngIf="gender.errors?.['required']">
                    gender không được để rỗng
                  </div>
                  <div *ngIf="gender.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="birthDay">BirthDay</label>
                <input type="date" formControlName="birthDay" class="form-control" name="birthDay" id="birthDay"
                  aria-describedby="birthDayHid" placeholder="birthDay" />
                <div *ngIf="birthDay.invalid && (birthDay.dirty || birthDay.touched)" class="alert alert-danger">

                  <div *ngIf="birthDay.errors?.['required']">
                    birthDay không được để rỗng
                  </div>
                  <div *ngIf="birthDay.errors?.['forbiddenName']">
                    Name cannot be Bob.
                  </div>
                </div>

              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">
                Đăng kí
              </button>
            </div>
            <div class="card-footer text-muted"></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
